.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.gallery__container article {
  border: 0.5rem solid transparent;
  transition: var(--transition);
}
.gallery__container article:hover {
  border-color: var(--color-gray-600);
}
.gallery__container img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .gallery__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .gallery__container article {
    border: 1px;
  }
}
@media screen and (max-width: 1024px) {
  .gallery__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
